# Configuration file

fluids {
    S:fluid.aerotheum.cardrank=
    S:fluid.aerotheum.grammar=
    S:fluid.aerotheum.instability.factor_accessibility=
    S:fluid.aerotheum.instability.factor_flat=
    S:fluid.bioethanol.cardrank=
    S:fluid.bioethanol.grammar=
    S:fluid.bioethanol.instability.factor_accessibility=
    S:fluid.bioethanol.instability.factor_flat=
    S:fluid.bioethanol.seabanned=
    S:fluid.biomass.cardrank=
    S:fluid.biomass.grammar=
    S:fluid.biomass.instability.factor_accessibility=
    S:fluid.biomass.instability.factor_flat=
    S:fluid.biomass.seabanned=
    S:fluid.coal.cardrank=
    S:fluid.coal.grammar=
    S:fluid.coal.instability.factor_accessibility=
    S:fluid.coal.instability.factor_flat=
    S:fluid.coal.seabanned=
    S:fluid.creosote.cardrank=
    S:fluid.creosote.grammar=
    S:fluid.creosote.instability.factor_accessibility=
    S:fluid.creosote.instability.factor_flat=
    S:fluid.creosote.seabanned=
    S:fluid.cryotheum.cardrank=
    S:fluid.cryotheum.grammar=
    S:fluid.cryotheum.instability.factor_accessibility=
    S:fluid.cryotheum.instability.factor_flat=
    S:fluid.cryotheum.seabanned=
    S:fluid.diesel.name.cardrank=
    S:fluid.diesel.name.grammar=
    S:fluid.diesel.name.instability.factor_accessibility=
    S:fluid.diesel.name.instability.factor_flat=
    S:fluid.diesel.name.seabanned=
    S:fluid.ender.cardrank=
    S:fluid.ender.grammar=
    S:fluid.ender.instability.factor_accessibility=
    S:fluid.ender.instability.factor_flat=
    S:fluid.ender.seabanned=
    S:fluid.fluiddeath.cardrank=
    S:fluid.fluiddeath.grammar=
    S:fluid.fluiddeath.instability.factor_accessibility=
    S:fluid.fluiddeath.instability.factor_flat=
    S:fluid.fluiddeath.seabanned=
    S:fluid.fluidmilk.cardrank=
    S:fluid.fluidmilk.grammar=
    S:fluid.fluidmilk.instability.factor_accessibility=
    S:fluid.fluidmilk.instability.factor_flat=
    S:fluid.fluidmilk.seabanned=
    S:fluid.fluidmushroom.cardrank=
    S:fluid.fluidmushroom.grammar=
    S:fluid.fluidmushroom.instability.factor_accessibility=
    S:fluid.fluidmushroom.instability.factor_flat=
    S:fluid.fluidmushroom.seabanned=
    S:fluid.fluidpure.cardrank=
    S:fluid.fluidpure.grammar=
    S:fluid.fluidpure.instability.factor_accessibility=
    S:fluid.fluidpure.instability.factor_flat=
    S:fluid.fluidpure.seabanned=
    S:fluid.fluidvishroom.cardrank=
    S:fluid.fluidvishroom.grammar=
    S:fluid.fluidvishroom.instability.factor_accessibility=
    S:fluid.fluidvishroom.instability.factor_flat=
    S:fluid.fluidvishroom.seabanned=
    S:fluid.fluxgoo.cardrank=
    S:fluid.fluxgoo.grammar=
    S:fluid.fluxgoo.instability.factor_accessibility=
    S:fluid.fluxgoo.instability.factor_flat=
    S:fluid.fluxgoo.seabanned=
    S:fluid.for.honey.cardrank=
    S:fluid.for.honey.grammar=
    S:fluid.for.honey.instability.factor_accessibility=
    S:fluid.for.honey.instability.factor_flat=
    S:fluid.for.honey.seabanned=
    S:fluid.fuel.cardrank=
    S:fluid.fuel.grammar=
    S:fluid.fuel.instability.factor_accessibility=
    S:fluid.fuel.instability.factor_flat=
    S:fluid.fuel.seabanned=
    S:fluid.gendustry.liquiddna.cardrank=
    S:fluid.gendustry.liquiddna.grammar=
    S:fluid.gendustry.liquiddna.instability.factor_accessibility=
    S:fluid.gendustry.liquiddna.instability.factor_flat=
    S:fluid.gendustry.liquiddna.seabanned=
    S:fluid.gendustry.mutagen.cardrank=
    S:fluid.gendustry.mutagen.grammar=
    S:fluid.gendustry.mutagen.instability.factor_accessibility=
    S:fluid.gendustry.mutagen.instability.factor_flat=
    S:fluid.gendustry.mutagen.seabanned=
    S:fluid.gendustry.protein.cardrank=
    S:fluid.gendustry.protein.grammar=
    S:fluid.gendustry.protein.instability.factor_accessibility=
    S:fluid.gendustry.protein.instability.factor_flat=
    S:fluid.gendustry.protein.seabanned=
    S:fluid.glass.cardrank=
    S:fluid.glass.grammar=
    S:fluid.glass.instability.factor_accessibility=
    S:fluid.glass.instability.factor_flat=
    S:fluid.glass.seabanned=
    S:fluid.glowstone.cardrank=
    S:fluid.glowstone.grammar=
    S:fluid.glowstone.instability.factor_accessibility=
    S:fluid.glowstone.instability.factor_flat=
    S:fluid.hell_blood.cardrank=
    S:fluid.hell_blood.grammar=
    S:fluid.hell_blood.instability.factor_accessibility=
    S:fluid.hell_blood.instability.factor_flat=
    S:fluid.hell_blood.seabanned=
    S:fluid.honey.cardrank=
    S:fluid.honey.grammar=
    S:fluid.honey.instability.factor_accessibility=
    S:fluid.honey.instability.factor_flat=
    S:fluid.honey.seabanned=
    S:fluid.hydrogen.cardrank=
    S:fluid.hydrogen.grammar=
    S:fluid.hydrogen.instability.factor_accessibility=
    S:fluid.hydrogen.instability.factor_flat=
    S:fluid.ice.cardrank=
    S:fluid.ice.grammar=
    S:fluid.ice.instability.factor_accessibility=
    S:fluid.ice.instability.factor_flat=
    S:fluid.ice.seabanned=
    S:fluid.juice.cardrank=
    S:fluid.juice.grammar=
    S:fluid.juice.instability.factor_accessibility=
    S:fluid.juice.instability.factor_flat=
    S:fluid.juice.seabanned=
    S:fluid.life_essence.cardrank=
    S:fluid.life_essence.grammar=
    S:fluid.life_essence.instability.factor_accessibility=
    S:fluid.life_essence.instability.factor_flat=
    S:fluid.life_essence.seabanned=
    S:fluid.mana.cardrank=
    S:fluid.mana.grammar=
    S:fluid.mana.instability.factor_accessibility=
    S:fluid.mana.instability.factor_flat=
    S:fluid.mana.seabanned=
    S:fluid.mead.cardrank=
    S:fluid.mead.grammar=
    S:fluid.mead.instability.factor_accessibility=
    S:fluid.mead.instability.factor_flat=
    S:fluid.mead.seabanned=
    S:fluid.milk.cardrank=
    S:fluid.milk.grammar=
    S:fluid.milk.instability.factor_accessibility=
    S:fluid.milk.instability.factor_flat=
    S:fluid.milk.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.nitrogen.cardrank=
    S:fluid.nitrogen.grammar=
    S:fluid.nitrogen.instability.factor_accessibility=
    S:fluid.nitrogen.instability.factor_flat=
    S:fluid.nitrogen.seabanned=
    S:fluid.oil.cardrank=
    S:fluid.oil.grammar=
    S:fluid.oil.instability.factor_accessibility=
    S:fluid.oil.instability.factor_flat=
    S:fluid.oil.seabanned=
    S:fluid.oxygen.cardrank=
    S:fluid.oxygen.grammar=
    S:fluid.oxygen.instability.factor_accessibility=
    S:fluid.oxygen.instability.factor_flat=
    S:fluid.petrotheum.cardrank=
    S:fluid.petrotheum.grammar=
    S:fluid.petrotheum.instability.factor_accessibility=
    S:fluid.petrotheum.instability.factor_flat=
    S:fluid.petrotheum.seabanned=
    S:fluid.poison.cardrank=
    S:fluid.poison.grammar=
    S:fluid.poison.instability.factor_accessibility=
    S:fluid.poison.instability.factor_flat=
    S:fluid.poison.seabanned=
    S:fluid.pyrotheum.cardrank=
    S:fluid.pyrotheum.grammar=
    S:fluid.pyrotheum.instability.factor_accessibility=
    S:fluid.pyrotheum.instability.factor_flat=
    S:fluid.pyrotheum.seabanned=
    S:fluid.redplasma.cardrank=
    S:fluid.redplasma.grammar=
    S:fluid.redplasma.instability.factor_accessibility=
    S:fluid.redplasma.instability.factor_flat=
    S:fluid.redplasma.seabanned=
    S:fluid.redstone.cardrank=
    S:fluid.redstone.grammar=
    S:fluid.redstone.instability.factor_accessibility=
    S:fluid.redstone.instability.factor_flat=
    S:fluid.redstone.seabanned=
    S:fluid.refinedfuel.name.cardrank=
    S:fluid.refinedfuel.name.grammar=
    S:fluid.refinedfuel.name.instability.factor_accessibility=
    S:fluid.refinedfuel.name.instability.factor_flat=
    S:fluid.refinedfuel.name.seabanned=
    S:fluid.rocketfuel.cardrank=
    S:fluid.rocketfuel.grammar=
    S:fluid.rocketfuel.instability.factor_accessibility=
    S:fluid.rocketfuel.instability.factor_flat=
    S:fluid.seedoil.cardrank=
    S:fluid.seedoil.grammar=
    S:fluid.seedoil.instability.factor_accessibility=
    S:fluid.seedoil.instability.factor_flat=
    S:fluid.seedoil.seabanned=
    S:fluid.short.mead.cardrank=
    S:fluid.short.mead.grammar=
    S:fluid.short.mead.instability.factor_accessibility=
    S:fluid.short.mead.instability.factor_flat=
    S:fluid.short.mead.seabanned=
    S:fluid.steam.cardrank=
    S:fluid.steam.grammar=
    S:fluid.steam.instability.factor_accessibility=
    S:fluid.steam.instability.factor_flat=
    S:"fluid.witchery:brew.cardrank"=
    S:"fluid.witchery:brew.grammar"=
    S:"fluid.witchery:brew.instability.factor_accessibility"=
    S:"fluid.witchery:brew.instability.factor_flat"=
    S:"fluid.witchery:brew.seabanned"=
    S:"fluid.witchery:brewliquid.cardrank"=
    S:"fluid.witchery:brewliquid.grammar"=
    S:"fluid.witchery:brewliquid.instability.factor_accessibility"=
    S:"fluid.witchery:brewliquid.instability.factor_flat"=
    S:"fluid.witchery:brewliquid.seabanned"=
    S:"fluid.witchery:fluiddisease.cardrank"=
    S:"fluid.witchery:fluiddisease.grammar"=
    S:"fluid.witchery:fluiddisease.instability.factor_accessibility"=
    S:"fluid.witchery:fluiddisease.instability.factor_flat"=
    S:"fluid.witchery:fluiddisease.seabanned"=
    S:"fluid.witchery:fluidspirit.cardrank"=
    S:"fluid.witchery:fluidspirit.grammar"=
    S:"fluid.witchery:fluidspirit.instability.factor_accessibility"=
    S:"fluid.witchery:fluidspirit.instability.factor_flat"=
    S:"fluid.witchery:fluidspirit.seabanned"=
    S:"fluid.witchery:hollowtears.cardrank"=
    S:"fluid.witchery:hollowtears.grammar"=
    S:"fluid.witchery:hollowtears.instability.factor_accessibility"=
    S:"fluid.witchery:hollowtears.instability.factor_flat"=
    S:"fluid.witchery:hollowtears.seabanned"=
    S:ic2.fluidbiogas.cardrank=
    S:ic2.fluidbiogas.grammar=
    S:ic2.fluidbiogas.instability.factor_accessibility=
    S:ic2.fluidbiogas.instability.factor_flat=
    S:ic2.fluidbiomass.cardrank=
    S:ic2.fluidbiomass.grammar=
    S:ic2.fluidbiomass.instability.factor_accessibility=
    S:ic2.fluidbiomass.instability.factor_flat=
    S:ic2.fluidbiomass.seabanned=
    S:ic2.fluidconstructionfoam.cardrank=
    S:ic2.fluidconstructionfoam.grammar=
    S:ic2.fluidconstructionfoam.instability.factor_accessibility=
    S:ic2.fluidconstructionfoam.instability.factor_flat=
    S:ic2.fluidconstructionfoam.seabanned=
    S:ic2.fluidcoolant.cardrank=
    S:ic2.fluidcoolant.grammar=
    S:ic2.fluidcoolant.instability.factor_accessibility=
    S:ic2.fluidcoolant.instability.factor_flat=
    S:ic2.fluidcoolant.seabanned=
    S:ic2.fluiddistilledwater.cardrank=
    S:ic2.fluiddistilledwater.grammar=
    S:ic2.fluiddistilledwater.instability.factor_accessibility=
    S:ic2.fluiddistilledwater.instability.factor_flat=
    S:ic2.fluiddistilledwater.seabanned=
    S:ic2.fluidhotcoolant.cardrank=
    S:ic2.fluidhotcoolant.grammar=
    S:ic2.fluidhotcoolant.instability.factor_accessibility=
    S:ic2.fluidhotcoolant.instability.factor_flat=
    S:ic2.fluidhotcoolant.seabanned=
    S:ic2.fluidhotwater.cardrank=
    S:ic2.fluidhotwater.grammar=
    S:ic2.fluidhotwater.instability.factor_accessibility=
    S:ic2.fluidhotwater.instability.factor_flat=
    S:ic2.fluidhotwater.seabanned=
    S:ic2.fluidpahoehoelava.cardrank=
    S:ic2.fluidpahoehoelava.grammar=
    S:ic2.fluidpahoehoelava.instability.factor_accessibility=
    S:ic2.fluidpahoehoelava.instability.factor_flat=
    S:ic2.fluidpahoehoelava.seabanned=
    S:ic2.fluidsteam.cardrank=
    S:ic2.fluidsteam.grammar=
    S:ic2.fluidsteam.instability.factor_accessibility=
    S:ic2.fluidsteam.instability.factor_flat=
    S:ic2.fluidsuperheatedsteam.cardrank=
    S:ic2.fluidsuperheatedsteam.grammar=
    S:ic2.fluidsuperheatedsteam.instability.factor_accessibility=
    S:ic2.fluidsuperheatedsteam.instability.factor_flat=
    S:ic2.fluiduumatter.cardrank=
    S:ic2.fluiduumatter.grammar=
    S:ic2.fluiduumatter.instability.factor_accessibility=
    S:ic2.fluiduumatter.instability.factor_flat=
    S:ic2.fluiduumatter.seabanned=
}


instability {
    S:global.difficulty=
    B:global.enabled=true
}


